# IDE的配置文件
/.idea/
.idea/codeStyleSettings.xml

# npm日志
npm-debug.log

# 发布后的代码
dist

# node 依赖包
node_modules/

# Mac 的生成文件
.DS_Store

# 测试报告
test/e2e/reports
test/e2e/screenshots

# 脚手架
gulpfile.js

# mock 数据
# mock

# 自己的待开发任务
TODOs.md