<div class="container-vst">
    <table class="vst-table">
        <thead>
        <tr>
            <th v-for="item in options.headers">
                {{item.title}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in data">
            <td v-for="header in options.headers">
                <slot v-if="header.slot" :name="header.slot"
                      :data="item[header.field]"
                      :lineData="item"
                      :tableData="data"
                      :headerOptions="header"
                      :table="table">
                </slot>
                <template v-else>
                    {{item[header.field]}}
                </template>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="vst-text" v-show="isShowText">
        {{text}}
    </div>
    <el-pagination v-show="!isShowText"
            layout="prev, pager, next"
            :total="page.dataTotal"
            :current-page="page.currentPage"
            v-on:current-change="changePage">
    </el-pagination>
</div>
