<div class="container-vst clear">
    <table class="vst-table">
        <thead>
        <tr>
            <th v-if="options.firstRow"
                :style="{width: options.firstRow.width}"
                :class="options.firstRow.styleClass">
                <template v-if="options.firstRow.type === 'number'">
                    {{options.firstRow.title || '序号'}}
                </template>
                <template else-if="options.firstRow.type === 'checkbox'">
                    <el-checkbox @change="inverseSelected" :label="options.firstRow.title">
                    </el-checkbox>
                </template>
            </th>
            <th v-for="item in options.headers"
                :style="{width: item.width}"
                :class="item.styleClass">
                {{item.title}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in data">
            <td v-if="options.firstRow">
                <template v-if="options.firstRow.type === 'number'">
                    {{pageBase + index + 1}}
                </template>
                <template else-if="options.firstRow.type === 'checkbox'">
                    <el-checkbox v-model="item.checked" @change="selectChange(item)"></el-checkbox>
                </template>
            </td>
            <td v-for="header in options.headers" :class="header.styleClass">
                <slot v-if="header.slot" :name="header.slot"
                      :options="options"
                      :data="item[header.field]"
                      :lineData="item"
                      :tableData="data"
                      :headerOptions="header"
                      :table="table">
                </slot>
                <template v-else>
                    {{item[header.field]}}
                </template>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="vst-text" v-show="isShowText">
        {{text}}
    </div>
    <el-pagination v-if="showPage" v-show="!isShowText"
            layout="prev, pager, next"
            :total="page.dataTotal"
            :current-page="page.currentPage"
            v-on:current-change="changePage">
    </el-pagination>
</div>
